div, img{
	box-sizing: border-box;
}
.movie{
	height: 200px;
	width: 200px;
	float: left;
	border: 1px solid lightgrey;
	position: relative;
	margin: 5px;
}

.movie-HD{
	height: 30px;
	width: 40px;
	position: absolute;
	top: 15px;
	left: 15px;
}
.movie-HD-img{
	height: 30px;
	width: 40px;
}


.movie-img{
	height: 200px;
	width: 200px;
	padding: 5px;
}
.controls{
	border-bottom: 1px solid lightgrey;
	min-height: 35px;
}
.movie-caption {
	position: absolute;
	bottom: 5px;
	left: 5px;
	height: 40px;
	width: 190px;
	background-color:rgba(0,0,0,0.3);
	color: white;
	text-align: center;
}

.grid-button{
	background:url(../images/grid.jpg) no-repeat;
	cursor: pointer;
	width: 34px;
	height: 30px;
	float: right;
	border: 0;
	padding: 0;
}

.grid-button-selected{
	background:url(../images/grid_pressed.jpg) no-repeat;
}
.list-button{
	background:url(../images/list.jpg) no-repeat;
	cursor: pointer;
	width: 34px;
	height: 30px;
	float: right;
	border: 0;
	padding: 0;
}

.list-button-selected{
	background:url(../images/list_pressed.jpg) no-repeat;
}
.sort-options{
	float: left;
}