div, img{
    box-sizing: border-box;
}
@font-face{
    font-family: oleo;
    src: url(./Oleo.woff);
}
.page-header{
    background-color: rgb(225, 225, 225);
    margin-bottom: 5px;
    position: relative;
    min-height: 50px;	
}
.site-title{
    font-family: oleo;
}
.page-header img{
    width: 50px;
}
.input-wrapper{
    display: inline-block;
    margin-left: 10px;
}
.input-wrapper button{
    background-color: rgb(0,140,202);
    color: white;
    border-radius: 0 5px 5px 0;
    border: 1px solid rgb(0,140,202);
    position: relative;
    left: -5px;
    height: 30px;
}
.input-wrapper input{
    border-radius: 5px 0 0 5px;
    border: 1px solid lightgrey;
    min-width: 250px;
    height: 30px;
}
.bolded{
    font-weight: bold;
}
.movie{
    height: 200px;
    width: 200px;
    float: left;
    border: 1px solid lightgrey;
    position: relative;
    margin: 5px;
    overflow: hidden;
}
.movie:hover .movie-caption{
    bottom: 85px;
}
.movie:hover .movie-starring{
    bottom: 5px;
}
.movie-HD{
    height: 30px;
    width: 40px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.movie-HD-img{
    height: 30px;
    width: 40px;
}
.movie-img{
    height: 200px;
    width: 200px;
    padding: 5px;
}
.movie-caption {
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 40px;
    width: 190px;
    background-color:rgba(0,0,0,0.3);
    color: white;
    text-align: center;
    transition: 1s;
    -webkit-transition: 1s;
}
.movie-starring{
    position: absolute;
    bottom: -85px;
    left: 5px;
    height: 80px;
    width: 190px;
    background-color:rgba(0,0,0,0.8);
    color: white;
    text-align: left;
    transition: 1s;
    -webkit-transition: 1s;
}
.controls{
    border-bottom: 1px solid lightgrey;
    min-height: 35px;
}
.grid-button{
    background:url(../images/grid.jpg) no-repeat;
    cursor: pointer;
    width: 34px;
    height: 30px;
    float: right;
    border: 0;
    padding: 0;
}

.grid-button-selected{
    background:url(../images/grid_pressed.jpg) no-repeat;
}
.list-button{
    background:url(../images/list.jpg) no-repeat;
    cursor: pointer;
    width: 34px;
    height: 30px;
    float: right;
    border: 0;
    padding: 0;
}

.list-button-selected{
    background:url(../images/list_pressed.jpg) no-repeat;
}
.sort-options{
    float: left;
}
.ui-autocomplete{
    max-width: 470px;
    overflow-x: auto;
}
.ui-autocomplete.ui-menu li {
    font-size: 14px;
}